@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/helveticaneue.ttf');
}

@font-face {
	font-family: 'Helvetica Neue';
	font-weight: 700;
	src: url('../fonts/helveticaneuebold.ttf');
}

@font-face {
	font-family: 'SFU-Eurostile';
	font-weight: 700;
	font-style: italic;
	src: url('../fonts/sfueurostileboldoblique.ttf');
}

@font-face {
	font-family: 'SFU-Helvetica';
	font-weight: 700;
	src: url('../fonts/sfuhelveticabold.ttf');
}

@font-face {
	font-family: 'SFU Futura';
	font-weight: 700;
	src: url('../fonts/SFUFuturaBold.ttf');
}

@font-face {
	font-family: 'SFU Futura';
	font-weight: 700;
	font-style: italic;
	src: url('../fonts/SFUFuturaBoldOblique.ttf');
}

@font-face {
	font-family: 'SFU Futura';
	font-weight: 800;
	font-style: italic;
	src: url('../fonts/SFUFuturaExtraBoldOblique.ttf');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	src: url('../fonts/Montserrat-Bold.otf');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 500;
	font-style: italic;
	src: url('../fonts/Montserrat-MediumItalic.otf');
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.otf');
}

@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	src: url('../fonts/Montserrat-Italic.otf');
}

@font-face {
	font-family: 'Bebas Neue';
	font-weight: 700;
	src: url('../fonts/BebasNeue-Bold.otf');
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MYRIADPRO-REGULAR.otf');
}
