.contact {
  background-color: #faf2f2;
  border-radius: 99999px;
  display: flex;
  align-items: center;
  width: 150px;
  position: fixed;
  bottom: 60px;
  right: 15px;
  box-shadow: 2px 0px 4px 0px rgba(0,0,0,0.3);
  z-index: 10;
  text-decoration: none;
  
  @include screen (small) {
    bottom: 70px;
    width: 180px;
  }

  &[hidden] {
    display: none;
  }

  &.sp {
    bottom: 10px;
  }

  .contact-icon-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: 2px 0px 4px 0px rgba(0,0,0,0.3);
    
    // @include screen (small) {
    //   width: 3.47vw;
    //   height: 3.47vw;
    // }

    @include screen (small) {
      width: 50px;
      height: 50px;
    }

    img {
      width: 45%;
    }
  }

  .contact-text-wrapper {
    margin-left: 15px;
    
    @include screen (small) {
      margin-left: 15px;
    }
    
    .small {
      font-family: $font-sfu-futura;
      font-weight: 800;
      font-style: italic;
      font-size: 8px;
      
      @include screen (small) {
        font-size: 9px;
      }
    }
    
    .big {
      font-family: $font-BB;
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      
      @include screen (small) {
        font-size: 20px;
      }
    }
    .sp {
      font-family: $font-sfu-futura;
      font-weight: 800;
      font-style: italic;
      font-size: 11px;
      text-transform: uppercase;
      padding: 12px 0;
      text-align: center;
      
      @include screen (small) {
        padding: 15px 0;
        font-size: 14px;
      }
    }
  }

}

.sticky-right {
  position: fixed;
  display: block;
  right: 0;
  top: 50%;
  padding: 8px 15px 5px;
  background: #6ECEB2;
  text-decoration: none;
  border-radius: 5px 5px 0 0;
  z-index: 10;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  white-space: nowrap;
  text-transform: uppercase;
  transform-origin: bottom right; 
  transform: rotate(-90deg);
  box-shadow: 0 0 2px rgba(0,0,0,0.4);

  &.bao-duong {
    top: calc(50% - 230px);
  }
}