
<div class="tiles" data-module="Banner">
  <div class="tile-item js--trigger" data-target="benefit">
    <div class="item-wrapper">
      <div class="icon-wrapper icon-iget">
        <img src="./assets/images/iget.svg" alt="">
      </div>
      <div class="text-wrapper">ĐỘNG CƠ<br>
        THẾ HỆ MỚI<br>
        ÊM ÁI & BỀN BỈ</div>
    </div>
  </div>
  <div class="tile-item js--trigger" data-target="table">
    <div class="item-wrapper">
      <div class="icon-wrapper icon-like">
        <img src="./assets/images/icons/icon-like-star.svg" alt="">
      </div>
      <div class="text-wrapper">LỊCH TRÌNH<br>
        BẢO DƯỠNG<br>
        & CHI PHÍ HỢP LÝ</div>
    </div>
  </div>
  <div class="tile-item js--trigger" data-target="location">
    <div class="item-wrapper">
      <div class="icon-wrapper icon-creative">
        <img src="./assets/images/icons/icon-creative.svg" alt="">
      </div>
      <div class="text-wrapper">
        Phụ tùng<br>
        dễ thay thế</div>
    </div>
  </div>
</div>