<div class="section-location">
  <div class="container">
    <div class="logo">
      <img src="./assets/images/logo.svg" alt="">
    </div>
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="flex-row relative items-center">
      <div class="content-left">
        <div class="img-wrapper">
          <img src="./assets/images/location-primavera.png" alt="">
          <div class="content-wrapper">
            <h2>TÌM ĐẠI LÝ GẦN NHẤT</h2>
            <a href="https://www.vespa.com/vn_VI/store-locator?f=all">TÌM HIỂU THÊM</a>
          </div>
        </div>
      </div>
      <div class="content-right">
        <div class="content-wrapper">
          <div class="text-wrapper">
            <h2>PHỤ TÙNG DỄ THAY THẾ</h2>
            <p>Trước đây, phụ tùng của dòng xe Vespa hầu hết được nhập khẩu từ nước ngoài, dẫn đến chi phí bảo dưỡng, sửa chữa cao và thời gian chờ đợi lâu.</p>
            <p>Hiện nay, bằng việc đặt trung tâm nghiên cứu & phát triển sản phẩm Châu Á Thái Bình Dương tại Việt Nam, hầu hết linh kiện phụ tùng đã được sản xuất trong nước đạt tiêu chuẩn chất lượng của tập đoàn Piaggio toàn cầu, nên việc bảo dưỡng, sửa chữa xe Vespa trở nên nhanh chóng, dễ dàng & chi phí thấp hơn trước đây rất nhiều.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>