<div class="section-benefit">
  <div class="container">
    {# <div class="logo">
      <img src="./assets/images/logo.svg" alt="">
    </div> #}
    <div class="flex-row relative items-center">
      <div class="content-left">
        <div class="img-wrapper">
          <img src="./assets/images/benefit-gts3.png" alt="">
        </div>
      </div>
      <div class="content-right">
        <div class="content-wrapper">
          <div class="iget-wrapper">
            <img src="./assets/images/HPE.png" alt="">
          </div>
          <div class="text-wrapper">
            <h2>5 LỢI ÍCH CỦA ĐỘNG CƠ HPE MỚI:</h2>
            <div class="list">
              <div class="item">
                <div class="icon">
                  <img src="./assets/images/icons/icon-speed.svg" alt="">
                </div>
                <div class="text">Mạnh mẽ hơn với công suất tăng 12% và mô men xoắn tăng 18%.</div>
              </div>
              <div class="item">
                <div class="icon">
                  <img src="./assets/images/icons/icon-leaf.svg" alt="">
                </div>
                <div class="text">Giảm tiêu thụ nhiên liệu</div>
              </div>
              <div class="item">
                <div class="icon">
                  <img src="./assets/images/icons/icon-protect.svg" alt="">
                </div>
                <div class="text">Giảm rung & tiếng ồn</div>
              </div>
              <div class="item">
                <div class="icon">
                  <img src="./assets/images/icons/icon-like.svg" alt="">
                </div>
                <div class="text">Tăng độ ổn định</div>
              </div>
              <div class="item">
                <div class="icon">
                  <img src="./assets/images/icons/icon-star.svg" alt="">
                </div>
                <div class="text">Tối ưu trải nghiệm lái</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>