<div class="section-benefit">
  <div class="container">
    {# <div class="logo">
      <img src="./assets/images/logo.svg" alt="">
    </div> #}
    <div class="flex-row relative items-center">
      <div class="content-left">
        <div class="img-wrapper">
          <img src="./assets/images/benefit-primavera.png" alt="">
        </div>
      </div>
      <div class="content-right">
        <div class="content-wrapper">
          <div class="iget-wrapper">
            <img src="./assets/images/iget.svg" alt="">
          </div>
          <div class="text-wrapper">
            <h2>4 lợi ích của động cơ <br>i-GET thế hệ mới :</h2>
            <div class="list">
              <div class="item">
                <div class="icon">
                  <img src="./assets/images/icons/icon-speed.svg" alt="">
                </div>
                <div class="text">Công suất cực đại lớn hơn 10%</div>
              </div>
              <div class="item">
                <div class="icon">
                  <img src="./assets/images/icons/icon-leaf.svg" alt="">
                </div>
                <div class="text">Giảm lượng tiêu thụ nhiên liệu & khí thải lên đến 16%</div>
              </div>
              <div class="item">
                <div class="icon">
                  <img src="./assets/images/icons/icon-protect.svg" alt="">
                </div>
                <div class="text">Êm ái khi vận hành, không còn rung giật ngay cả khi vận hành ở vòng tua thấp, nhờ trục khuỷu thiết kế mới với quán tính tăng 24%</div>
              </div>
              <div class="item">
                <div class="icon">
                  <img src="./assets/images/icons/icon-like.svg" alt="">
                </div>
                <div class="text">Giảm tiếng ồn khi đề 70% nhờ bộ đề khởi động, và khi xe chạy nhờ bộ ốp động cơ.</div>
              </div>
              <div class="item">
                <div class="icon">
                </div>
                <div class="text italic">Động cơ Iget đã được nghiên cứu và phát triển phù hợp với điều kiện Việt Nam và tuân thủ tiêu chuẩn khắt khe của Châu Âu, đã được thử nghiệm hơn 1 triệu km để đảm bảo thiết kế và thông số tốt nhất khi vận hành cho chất lượng và độ tin cậy cao.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>