<footer>
  <div class="container">
    <div class="block">
      <div class="flex-row items-center">
        <div class="col-6">
          <div class="footer-logos">
            <a class="icon-wide" href="javascript:void(0)"><img src="./assets/images/wide-footer.png" alt=""></a>
            <a class="icon-children" href="javascript:void(0)"><img src="./assets/images/vespa-for-children.png" alt=""></a>
          </div>
        </div>
        <div class="col-6">
          <h3>
            THEO DÕI VESPA TRÊN MẠNG XÃ HỘI
          </h3>
          <div class="socials">
            <a href="https://www.facebook.com/VespaVietnam/" target="_blank">
              <img src="./assets/images/icons/fb.svg" alt="">
            </a>
            <a href="https://www.youtube.com/user/vespavietnam" target="_blank">
              <img src="./assets/images/icons/yt.svg" alt="">
            </a>
            <a href="https://www.instagram.com/vespa_vietnam/" target="_blank">
              <img src="./assets/images/icons/ig.svg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center block">
      <p><a class="link-privacy" href="https://www.vespa.com/vn_VI/chinh-sach-bao-mat.html">CHÍNH SÁCH BẢO MẬT</a></p>
      <p>© 2017 Piaggio Vietnam | <a class="link-piaggio" href="http://piaggio.com.vn/">piaggio.com.vn</a> | Hotline: 1800-5555-85</p>
    </div>
  </div>
</footer>
