<header data-module="Header">
  <div class="container flex items-center justify-between flex-wrap relative">
    <a href="javascript:void(0)" class="logo-container">
      <img src="./assets/images/logo.svg" alt="">
    </a>
    <a class="hamburger" href="javascript:void(0)">
      <span></span>
      <span></span>
      <span></span>
    </a>
    <nav>
      <div class="menu--secondary">
        <div><a href="javascript:void(0)" class="menu-item active" data-target="primavera">Primavera</a></div>
        <div><a href="javascript:void(0)" class="menu-item" data-target="sprint">Sprint</a></div>
        <div>
          <a class="menu-item has-sub" href="javascript:void(0)">
            GTS
          </a>
          <div class="secondary__submenu">
            <div class="secondary__submenu__wrapper">
              <div><a href="javascript:void(0)" class="menu-item" data-target="gts1">GTS SUPER 125-150</a></div>
              <div><a href="javascript:void(0)" class="menu-item" data-target="gts2">GTS 300 QUARSAR</a></div>
              <div><a href="javascript:void(0)" class="menu-item" data-target="gts3">GTS SUPER TECH 300</a></div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
