{% set data = htmlWebpackPlugin.options %}
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>{{ data.title }}</title>
  <link rel="shortcut icon" type="image/png" href="assets/images/favicon.ico"/>
 
</head>

<body>

<!-- HEADER -->
{% include './header.twig' %}
<!-------------------->

<!-- MAIN CONTENT -->
{% block page %}{% endblock %}
<!-------------------->
<a href="javascript:void(0)" class="btn--to-top" data-module="ScrollTop">
  <img src="./assets/images/icons/arrow_up.svg" alt="">
</a>
<a href="tel:180055585" class="contact">
  <div class="contact-icon-wrapper">
    <img src="./assets/images/icons/icon-phone.svg" alt="">
  </div>
  <div class="contact-text-wrapper">
    <div class="small">Hotline hỗ trợ</div>
    <div class="big">1800-5555-85</div>
  </div>
</a>
<a href="https://www.vespa.com/vn_VI/cac-dong-xe/primavera.html" class="contact sp content-dynamic" data-content="primavera">
  <div class="contact-text-wrapper">
    <div class="sp">Trang Sản Phẩm</div>
  </div>
</a>
<a href="https://www.vespa.com/vn_VI/cac-dong-xe/sprint.html" class="contact sp content-dynamic" data-content="sprint" hidden>
  <div class="contact-text-wrapper">
    <div class="sp">Trang Sản Phẩm</div>
  </div>
</a>
<a href="https://www.vespa.com/vn_VI/cac-dong-xe/gts-super/gts-super-2019.html" class="contact sp content-dynamic" data-content="gts1" hidden>
  <div class="contact-text-wrapper">
    <div class="sp">Trang Sản Phẩm</div>
  </div>
</a>
<a href="https://www.vespa.com/vn_VI/cac-dong-xe/gts-super/gts-super-sport-2019.html" class="contact sp content-dynamic" data-content="gts2" hidden>
  <div class="contact-text-wrapper">
    <div class="sp">Trang Sản Phẩm</div>
  </div>
</a>
<a href="https://www.vespa.com/vn_VI/cac-dong-xe/gts-super/gts-supertech.html" class="contact sp content-dynamic" data-content="gts3" hidden>
  <div class="contact-text-wrapper">
    <div class="sp">Trang Sản Phẩm</div>
  </div>
</a>
<!-- FOOTER -->
{% include './footer.twig' %}
<!-------------------->

</body>
</html>
